<!DOCTYPE html>
<html>
    <head>
        <title>Create new blog post</title>
    </head>
    <body>
        <h1>Create new blog post</h1>
        <div>
            {{ form(form) }}
        </div>
    </body>
</html>